// Media queries
$xs: "max-width:768px";
$sm: "min-width:768px";
$md: "min-width:992px";
$lg: "min-width:1200px";

// color
$ColorWordFrom: rgba(255, 0, 0, 0.507);
$ColorBefore: rgba(0, 0, 0, 0.403);
$black: #000000;
$letterBackgroundColor: rgba(17, 17, 199, 0.459);
$white: white;

// background color
$backgroundColorHangman: #F6F6F6;