.game_over {
    @include headRopeBody(0%, 0%, 100%, 100%, none, 0%, fixed);
    @include flex(center, center);
    background-color: rgba(17, 17, 199, 0.459);

    >a {
        display: block;
        color: $white;
        width: fit-content;
        padding: rem(15) rem(20);
        border-radius: rem(15);
        font-weight: bold;
        letter-spacing: rem(2);
        background-color: rgba(0, 0, 255, 0.488);

        &:hover {
            background-color: rgba(0, 0, 255, 0.356);
        }
    }
}